.cabecera {
    width: 100%;
    height: 8vh;
    color: #fff;
    background: rgb(0, 0, 0);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    z-index: 999;
}

.cabecera .logo {
    width: 30%;
    padding: 0.7em 2em;
}

.cabecera .logo .text {
    font-size: 22px;
    font-weight: bold;
}

.cabecera .nav-top {
    width: 40%;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    height: 92vh;
    background: #302f2f;

    position: fixed;
    top: 8vh;
    left: 0;
}

.sidebar>.nav {
    width: 100%;
}

.sidebar>.nav>.nav-item {
    width: 100%;
    padding: 0.2em 0.4em;

    border-bottom: 1px solid #bbb
}

.sidebar>.nav>.nav-item>.nav-link {
    color: #bbbbbb;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 4px;
}

.sidebar>.nav>.nav-item>.nav-link.active {
    color: #fff;
    background: rgb(124, 124, 124);
}

.sidebar>.nav>.nav-item>.nav-link i {
    margin-top: 0.3em;
}

.sidebar>.nav>.nav-item>.nav-link:hover {
    color: #fff;
    background: rgb(124, 124, 124);

    cursor: pointer;
}

.sidebar .sub-nav {
    display: none;

    background: #222222;
}

.sidebar .sub-nav>.nav-item>.nav-link {
    color: #bbbbbb;
}

.sidebar .sub-nav>.nav-item>.nav-link:hover {
    color: #fff;
    background: rgb(124, 124, 124);
}

section#vistas {
    width: 80%;
    padding: 0.4em 0.8em;

    position: relative;
    top: 8vh;
    left: 20%;
}

#vistas .panel {
    width: 100%;

    background: #fff;

    box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.3 );
}

#vistas .panel .panel-head {
    padding: 0.4em;

    border-top: 4px solid rgb(89, 89, 223);
    border-bottom: 2px solid rgba(158, 158, 158, 0.3)
}

.panel-head .panel-title {
    font-size: 30px;
    font-weight: lighter;
    margin: 0px;
    color: #2c2c2c
}

#vistas .panel .panel-body {
    padding: 0.4em 2em;
}